* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #edf0f1;
    /* background-color: #24252a; */
}

body {
    background-image: url('./assets/img/esports.jpg');
    background-repeat: no-repeat /* makes background image stop at the end of the first page */
    
}

p {
    color: gray;
}


img {
    max-width: fit-content;
    max-height: fit-content;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between; /* pushes first and last item far left and right and the item in the middle is going to evenly space*/
    align-items: center; /* centers everything in the header */
    padding: 10px 10%;
    background-color: rgba(0, 0, 0, 0); /* sets navbar transparent */
}

.nav_links {
    list-style: none; /* takes the bullets off of the list of items */
}

.nav_links li {
    display: inline-block; /* puts list side by side instead of stacked */
    padding: 0px 20px ; /* spaces list items out */
} 

.nav_links li a, .navbar-brand {
    transition: all 0.3s ease 0s !important;
}

.nav_links li a:hover, .navbar-brand:hover {
    color: #0088a9;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0;
    
}

#tag {
    color: rgba(0, 136, 169, 1);;
}

#padme {
    padding-left: 2rem;
    padding-right: 3rem;
}

h2 {
    font-size: 41px;
    font-weight: bold;
    color: rgb(38, 38, 245);
}

h3 {
    color: gray;
    font-size: larger;
}

h6 {
    color: gray;
}

h5 {
    color: lightskyblue;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 100px;
}

.schedule {
    width: 337px;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgb(185, 184, 184);
    box-shadow: 0 2px 4px #E1E1E1;
    margin-top: 100px;
}

#details {
    border-radius: 0%;
    border: 1px solid lightblue;
    color: rgb(128, 199, 223);
    box-shadow: 0 2px 4px #E1E1E1;
    margin-bottom: 20px;
}

.fullsc {
    max-width: 10%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.banner {
    padding-bottom: 500px;
    padding-top: 300px;
}

/* .esports2 {
    width: 100%;
    margin: 0 auto;
    padding-left: 250px;
} */

/* #esports2id {
    display: block;
    position: relative;
    height: 360px;
    width: 100%;
    overflow: hidden;
} */

.esports2 {
    display: block;
    /* position: relative; */
    height: 360px;
    width: 100%;
    overflow: hidden;
    padding-left: 150px;
    margin-bottom: 200px;
}